table{
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
}

thead{
  display: table-header-group;
}

tbody{
  display: table-row-group;
}
  // Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
